<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">MY SITE</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/board}">게시판</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/calendar}">일정관리</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">
						자원관리
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<li><a class="dropdown-item" href="/resource">회의실관리</a></li>
						<li><a class="dropdown-item" href="/resource">장비관리</a></li>
						<li><a class="dropdown-item" href="/resource">차량관리</a></li>
					</ul>
				</li>
			</ul>
			<ul class="navbar-nav flex-wrap ms-md-auto">
				<li class="nav-item">
					<a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
					<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원 가입</a>
				</li>
			</ul>
		</div>
	</div>
</nav>