<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<form th:action="@{/user/signup/sec}" th:object="${userCreateFormSec}" method="post">
		<input type="text" name="nickname" id="nickname" style="display: none;" th:value="${nickname}">
		<input type="text" name="username" id="username" style="display: none;" th:value="${username}">
		<input type="text" name="password" id="password" style="display: none;" th:value="${password}">
		<div class="mb-3">
			<span>이메일 인증을 진행해주세요.</span>
		</div>
		<div class="mb-3">
			<label for="email" class="form-label" style="display: flex;">이메일</label>
			<input type="email" name="email" id="email" class="form-control" style="width: 70%; display: inline-block;">
			<button type="button" class="btn btn-primary" name="send" id="send">인증번호 발송</button>
			
		</div>
		<div class="mb-3">
			<label for="authcheck" class="form-label" style="display: flex;">인증번호</label>
			<input type="text" name="auth" id="auth" class="form-control" style="width: 15%; display: inline-block;" maxlength="6">
			<button type="button" class="btn btn-primary" name="authcheck" id="authcheck" disabled="true">확인</button>
			<span class="target__time">
			  <span id="remaining__min">5</span> :
			  <span id="remaining__sec">00</span>
			</span>
		</div>
		<button type="submit" class="btn btn-primary">회원 가입</button>
	</form>
	<script layout:fragment="script" type="text/javascript" th:src="@{/email.js}"></script>
</div>
</html>